/* Basic CSS reset */
*,
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

.page_body {
    /*font-family: PTSansNarrow-Regular, sans-serif;
    color: #444444;*/
    max-width: 1680px;
    margin: 0 auto;
}


/*html,body,h1,h2,h3,h4,h5,h6 {
    font-family: PTSansNarrow-Regular, cursive, sans-serif;
    color: #444444;
}*/

h1 {
    font-family: Kelvinized, sans-serif;
    color: #333333;
    font-size: 22px;
}

h2 {
    font-family: Noir_medium, sans-serif;
    color: #333333;
    font-size: 18px;
}

h3 {
    font-family: Noir_medium, sans-serif;
    color: #333333;
    font-size: 16px;
}

html,
body {
    font-family: Noir_regular, sans-serif;
    color: #333333;
    font-size: 16px;
}


/* -------- Mobile first style and layout ---------- */

.contact_header {
    align-content: center;
    text-align: center;
}

/* -------- Header and navigation --------- */

body {
    font-family: Noir_regular, sans-serif;
}

* {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    border: 4px solid #705044;
    padding: 12px 15px;
    background-color: #705044;
    border-radius: 50px;
    color: white;
    letter-spacing: 2px;
    cursor: pointer;
    margin-bottom: 10px;
}

/*input[type=submit]:hover {
    background-color: #45a049;
}*/

.contact_form {

}

.contact_header {
    padding-bottom: 30px;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 30px;
}

.subject {
    height: 200px;
}


/* -------- Footer section ---------- */

