/* [ON MOBILE DEVICES] */

.sosbike_logo {
    width: 80px;
    float: left;
    margin: 5px;
}


/* .navigation__container {
    width: 70%;
    float: right;
} */

.navigation__container {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 300px;
    z-index: 9999;
}

.menu_heading {
    text-align: center;
    padding: 25px;
}

.mobileiconlabel {
    float: right;
    display: inline-block;
    color: black;
    font-style: normal;
    font-size: 1.2rem;
    padding: 5px 0px 10px 0px;

}

.menuitem {
    display: block;
    width: 250px;
    padding: 10px;
    color: black;
    text-decoration: none;
    text-align: left;
}

.menu_navigation {
    margin-left: 10%;
    font-weight: bold;
}

.menu_sosbikelogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 25px;
    padding-bottom: 25px;
}

/*.menu_paragraph {
    width: 100%;
    text-align: center;
}*/

.menu_donate_button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}


.cta_style {
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;

}

.Donate_text {
    width: 100%;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;

}

.arrow {

    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;

}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}



/* Hide checkbox and menuitems until clicked */
.menuitems__container,
.mobileicon {
    display: none;
    background-color: lightgrey;
    padding-bottom: 15px;
}




/* Show menuitems when mobileicon-label is clicked */
.navigation__container input:checked ~ .menuitems__container {
    display: block;
}




/* Add rules [ON WIDE SCREENS] */

@media only screen and (min-width: 900px) {

    /* Hide Mobile icon and its label */
    .mobileiconlabel,
    .mobileicon {
        display: none;
    }


    /* Make menuitems flex horisontally (on a row) */
    .menuitems__container {
        display: flex;
        justify-content: flex-end;
        align-items: center;

    }

    .menuitem {
        width: 130px;
    }
