/* [ON MOBILE DEVICES] */

.sosbike_logo {
    width: 80px;
    float: left;
    margin: 15px 0px 0px 15px;
}


/* .navigation__container {
    width: 70%;
    float: right;
} */

.navigation__container {
    position: absolute;
    right: 5px;
    top: 10px;

    width: 100%;
    z-index: 9999;
}

.menu_heading {
    text-align: center;
    padding: 25px 0px 25px 45px;
}

.mobileiconlabel {
    float: right;
    display: inline-block;
    color: black;
    font-style: normal;
    font-size: 1.2rem;
    padding: 15px 20px 10px 0px;

}

.menuitem {
    display: block;
    width: 250px;
    padding: 10px;
    color: black;
    text-decoration: none;
    text-align: left;
}

.active_menuitem {
    color: grey
}

.menu_navigation {
    margin-left: 10%;
    font-weight: bold;
}

.menu_sosbikelogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.menu_sosbikelogo1 {
    display: none;
}


/*.menu_paragraph {
    width: 100%;
    text-align: center;
}*/

.menu_donate_button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}


.cta_style {
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;

}

.Donate_text {
    width: 100%;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;

}

.arrow {

    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;

}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}



/* Hide checkbox and menuitems until clicked */
.menuitems__container,
.mobileicon {
    display: none;
    background-color: lightgrey;
    padding-bottom: 15px;
}




/* Show menuitems when mobileicon-label is clicked */
.navigation__container input:checked ~ .menuitems__container {
    display: block;
}




/* Add rules [ON WIDE SCREENS] */

@media only screen and (min-width: 900px) {

    /* Hide Mobile icon and its label */
    .mobileiconlabel,
    .mobileicon {
        display: none;
    }

    .menu_paragraph {
        display: none;
    }

    .sosbike_logo {
        display: none;
    }

    .arrow {
        display: none;
    }

    .right {
        display: none;
    }

    .moab {
        display: none;
    }


    .cta_style {
        display: none;
    }

    .menu_sosbikelogo {
        width: 8%;
        margin-left: 15px;
        margin-right: 15px;
        display: none;

    }

    .menu_sosbikelogo1 {
        width: 8%;
        /*   margin-left: 15px;
        margin-right: 15px;*/
        display: block;
    }

    .menu_heading {
        display: none;
    }

    .menu_navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 18px;

    }

    .navigation__container {
        width: 900px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    /*  .gallery_heading{
        margin-top: 8%;
    }

    .sustainability_block{
        margin-top: 8%;
    }

    .services_block{
        margin-top: 8%;
    }

    .about_block{
        margin-top: 8%;
    }

    .contact_block{
        margin-top: 8%
    }*/






    /* Make menuitems flex horisontally (on a row) */
    .menuitems__container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        background-color: rgba(211, 211, 211, 0);
        padding-top: 20px;
<<<<<<< HEAD
        position: sticky;
=======
        margin-left: 65px;
        position: fixed;
>>>>>>> origin/main
        z-index: 9999;
        width: 900px;
    }

    .menuitem {
        width: 130px;
    }

    .arrow {
        display: none;
    }

    .right {
        display: none;
    }
