/* Basic CSS reset */
*,
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


/* -------- Mobile first style and layout ---------- */

.services_block {
    padding: 30px 20px 0px 20px;;
}

.services_heading {
    text-align: center;
    padding-bottom: 5px;
}

.services_paragraph {
    text-align: center;
    padding-bottom: 10px;
}

.services_image {
    width: 100%;
    margin: 10px 0px 10px 0px;
}

.services_text {
    margin: 20px;
}

.contact_button {
    border: 4px solid #705044;
    margin-top: 20px;
    padding: 25px 25px 15px 25px;
    background-color: #705044;
    border-radius: 50px;
    color: white;
    letter-spacing: 1px;
}

/* ---------------------- Media Queries -------------------------- */


@media only screen and (min-width: 600px) {

    .services_block {
    padding: 30px 140px;
}

    .services_image {
        margin-top: 20px;
    }
.services_text {
        margin: 40px 40px;
    }

    .contact_button {
        margin-top: 40px;
    }

    @media only screen and (min-width: 900px) {
