/* Basic CSS reset */
*,
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


/* -------- Mobile first style and layout ---------- */

.sustainability_block {
    padding: 30px 20px 0px 20px;;
}

.sustainability_heading {
    text-align: center;
    padding-bottom: 5px;
}

.sustainability_paragraph {
    text-align: center;
    padding-bottom: 10px;
}

.sustainability_image {
    width: 100%;
    margin: 10px 0px 20px 0px;
}

.donate_button {
    margin-top: 20px;
    padding: 25px 25px 15px 25px;
    background-color: #705044;
    border-radius: 50px;
    color: white;
    letter-spacing: 1px;
}

.sustainability_text {
    margin: 0px 20px 30px 20px;

}

/* ---------------------- Media Queries -------------------------- */


@media only screen and (min-width: 600px) {

    .sustainability_image {
        margin-top: 40px;
    }

    .sustainability_text {
        margin: 40px 40px;
    }

    .donate_button {
        margin-top: 40px;
    }

@media only screen and (min-width: 900px) {


    .sustainability_block {
        margin-top: 60px;
    }

    .sustainability_text {
        margin: 40px 0px;
    }

}
